* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0 0 50px 0;
    background: white;
}

header {
    color: white;
    background: rgba(0,0,0,0.9);
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#octocat {
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
}

h1 {
    padding: 20px;
    margin: 0;
    letter-spacing: 0.07rem;
}

header p {
    line-height: 38px;
}

.card {
    height: 480px;
    width:  calc(480px / 3.5 * 2.5);
    overflow: none;
    border-radius: 10px;
    box-shadow: 0px 10px 66px -6px rgba(196,192,196,1);
}

img {
    width: calc((480px / 3.5 * 2.5) - 30px);
    height: 200px;
    margin: 15px;
    margin-bottom: 0px;
}

#cards-wrapper,
#form {
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.form-div {
    width:  calc(480px / 3.5 * 2.5);  
}


input[type=text] {
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background: #ECF0F1;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 2rem;
    padding-left: 10px;
}

button {
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

#submit-btn {
    width: 20vw;
    margin: 0 40vw;
    background: rgba(0,0,0,0.7);
    color: white;
}

#fight-btn {
    margin: 0 auto;
    background-color: crimson;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    width: 20vw;
}

#fight-div {
    text-align: center;
}

.hidden {
    /* display: none; */
}

ul {
    list-style-type: none;
    padding: 0 15px;
}

li {
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
}

/* li span {
;    align: auto
} */

@media screen and (min-width: 1050px) {
    .main-wrapper {
        width: 75%;
        margin: auto;
    }
    #submit-btn {
        margin: 0 12.5vw;
    }
    header {
        padding-left: 12.5%;
    }
}